extends layout
block content
 h1= title
 form(id='zipperForm', action="/resource/zipper", method="POST")
  div.form-group
   label.zipperAttr(for='zipper_type') zipper type
   input#zipper_type(type='String', name='zipper_type')
  div.form-group
   label.zipperAttr(for='size') zipper name
   input#zipper_name(type='String', name='zipper_name')
  div.form-group
   label.zipperAttr(for='cost') zipper cost
   input#zipper_cost(type='number', name='zipper_cost')
  input(type="submit")
 script.
   document.forms['zipperForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'POST',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Save succeded")
     // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Save failed " + error )
    });
   });